@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-color: #e0e7ff;
    background-image: url('../Assets/indexbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#stuff {
    z-index: -1;
    height: 600px;
    position: absolute;
    bottom: 150px;
    right: 200px;
}

.page {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#termsPage {
    max-width: 550px;
}
#contentt {
    text-align: justify !important;
}

h1 {
    font-size: 24px;
    color: #1e3a8a;
}

.content {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#passworddiv {
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid #000;
    padding: 0px 0px;
    outline: none;
    border: 0;
}
#pass-icon {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 24px;
    cursor: pointer;
}

#passworddiv2 {
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid #000;
    padding: 0px 0px;
    outline: none;
    border: 0;
}
#pass-icon2 {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 24px;
    cursor: pointer;
}

#passworddiv3 {
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid #000;
    padding: 0px 0px;
    outline: none;
    border: 0;
}
#pass-icon3 {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 24px;
    cursor: pointer;
}


.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.form-group input,
.form-group select {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.header-flex .Logo {
    height: 50px;
    margin-right: 10px;
    margin-bottom: 0;
}

.header-flex h1 {
    margin: 0;
    color: #0d6efd;
    font-weight: 700;
}
