.set {
    padding: 20px;
    margin: 30px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 650px;
    height: auto;
    text-align: left;
    margin: 0;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    padding-bottom: 30px;
    font-size: 20px;
}

.set input {
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.set select, .set option, .set button {
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

input, .set select, button {
    margin-block: 10px;
}
h2 {
    margin-bottom: 10px;
}

.btn {
    padding: 5px;
    background-color: green;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.btn:last-child {
    background-color: grey;
}

/* dark mode */
.dark-mode .set {
    background-color: #616161;
}

.dark-mode .form-control,
.dark-mode .set select {
    background-color: rgb(121, 121, 121);
    color: white;
}
