@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Faustina", serif;
    background-color: #f2f2f2;
    background-image: url('../Assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    transition: all 0.1s ease-in-out;
}

/* Sidebar styles */
.sidebar {
    position: fixed; 
    top: 0;
    left: -300px; 
    width: 300px; 
    height: 100%;
    background-color:  #003f7d;
    color: white;
    padding: 20px;
    padding-left: 10px; 
    transition: left 0.3s ease;
    z-index: 9999; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar .logo-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;  
    margin: 0;  
}


.sidebar .logo {
    width: 50%; 
    height: auto;
    margin: 0; 
    padding: 0; 
}



.sidebar .company-name h2,
.sidebar .company-name h3 {
    margin: 10%;
    font-size: 25px; 
    color: white;
}

.sidebar .separator {
    height: 20px;
    width: 100%;
}

/* Company Info Section (Vision, Mission, etc.) */
.sidebar .company-info {
    margin-top: 20px;
    text-align: left;
    width: 100%;
}

.sidebar .company-info div {
    margin-bottom: 20px;
}

.sidebar .company-info h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.sidebar .company-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

.sidebar.active {
    left: 0;
}

.content.active {
    margin-left: 300px;
}
.sidebar #CloseDots {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15%;
    cursor: pointer;
}

/* Dark Mode */
.dark-mode {
    background-image: url('../Assets/bg1.png');
    background-color: #1F1F1F;  
    color: #ffffff;  
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode span,
.dark-mode label,
.dark-mode a {
    color: white !important;
}
s
.dark-mode .setting-choice {
    background-color: #333;
    color: white;
}

.dark-mode .form-container .form-title {
     color: #ffb74d !important; 
}

.dark-mode input, 
.dark-mode textarea {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #555;
}

.dark-mode a {
    color: #4a90e2; 
}

.dark-mode button {
    background-color: #444;
    color: white;
    border: none;
}

#darkModeToggle {
    accent-color: white; 
}

.dark-mode .form-container {
    background-color: #616161;
}
