.main {
    margin-top: 20px;
    margin-inline: 30px;
    background-color: #d6e6ff !important;
    border-radius: 10px;
    display: grid;
	height: 100%;
  padding: 20px;
}

table, th, td {
  border:1px solid black;
  text-align: center;  
  margin-left: auto;
  background-color: #DFF2EB;
  font-size: 20px;
  padding: 2px;
}

th {
	 background-color: white;
	  height: 15%;
    vertical-align: text-top;
}

.cth {
  background-color: #7ea1d7 !important;
}

#tab {
  width: 40%;
  margin: 20px auto;
}