#notifinfo {
    margin-block: 30px;
    margin-inline: 30px;
    background-color: #d6e6ff;
    border-radius: 10px;
    padding: 2rem;
    justify-items: justify;
    box-shadow: 1px 1px 3px 1px #00000040;
}

.notify-p {
    background-color: #ffbdbd;
    margin-block: 20px;
    padding: 1rem;
    border-radius: 10px;
}
.notify-p h3 {
    color: #ff0000;
}

.notify-o {
    background-color: #eae4ab;
    margin-block: 20px;
    padding: 2rem;
}
.notify-o h3 {
    color: #9b620d;
}

/* Just in case resolved is needed*/
.notify-r {
    background-color: #a9e0c6;
    margin-block: 20px;
    padding: 30px;
}
.notify-r h3 {
    color: #11c037;
}

h2 {
    text-align: center;
    color: white;
}